In [2]:
import numpy as numpy
import pandas as pd

In [10]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [11]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [12]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [17]:
fruits.dtype

dtype('O')

In [19]:
fruits.head(5), fruits.tail(3), fruits.sample(2)

(0          kiwi
 1         mango
 2    strawberry
 3     pineapple
 4    gala apple
 dtype: object,
 14    blackberry
 15    gooseberry
 16        papaya
 dtype: object,
 4     gala apple
 12         mango
 dtype: object)

In [20]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [22]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [32]:
fruits.value_counts()

kiwi                4
mango               2
blueberry           1
honeydew            1
gala apple          1
honeycrisp apple    1
watermelon          1
papaya              1
gooseberry          1
blackberry          1
pineapple           1
strawberry          1
tomato              1
dtype: int64

In [50]:
fruits.value_counts().sort_values(ascending=False)

kiwi                4
mango               2
tomato              1
strawberry          1
pineapple           1
blackberry          1
gooseberry          1
papaya              1
watermelon          1
honeycrisp apple    1
gala apple          1
honeydew            1
blueberry           1
dtype: int64

In [51]:
fruits.value_counts().sort_values(ascending=True)

blueberry           1
honeydew            1
gala apple          1
honeycrisp apple    1
watermelon          1
papaya              1
gooseberry          1
blackberry          1
pineapple           1
strawberry          1
tomato              1
mango               2
kiwi                4
dtype: int64